.section5 {
  .section__intro {
    color: $blueprint;
  }

  .section__title {
    color: $blueprint;
  }

  .section__subtitle {
    color: $blueprint;
  }

  .section__quote {
    color: $blueprint;
  }

  em {
    color: $blueprint;
  }

  strong {
    color: $blueprint;
    font-size:22px;
  }
  table {
  border-collapse: collapse;
  margin-bottom: 30px;
}

td {
  padding-top: 20px;
  text-align: left;
  vertical-align: top;
  color: $blueprint;
  
  
  
  li {
	list-style-type: none;
  padding-left: 35px;
  background: url(/sites/all/themes/report-2016/images/icons/tick_blue.svg) left 5px no-repeat;
  padding-bottom:7px;
  }
  
  ul {
  padding: 10px 0 20px 0;
  }
  
}
th {
  color: white;
  background-color: $blueprint;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  @include typography-base('Bd', 22px 24px);

}
.headline {
  @include typography-base('xBd', 30px 29px);
  padding-right:50px;
  }

}