.section6 {
  .section__intro {
    color: $data;
  }

  .section__title {
    color: $data;
  }

  .section__subtitle {
    color: $data;
  }

  .section__quote {
    color: $data;
  }

  .references__list {
    padding-left: 20px;
  }
  .references__item {
    @include typography-base('Rg', 14px 16px);
    margin-bottom: 10px;
  }

  .photo__credits {
    @include typography-base('Rg', 14px 16px);
    margin-bottom: 10px;
  }
  .disclaimer {
    @include typography-base('Rg', 14px 16px);
    margin: 20px 0 30px;
  }


  em {
    color: $data;
  }

  strong {
    color: $data;
  }

  table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

td, th {
  vertical-align: top;
}

  @include breakpoint_mobile() {
    td,
    th {
      display: block;
    }

    td:first-child p {
      margin-bottom: 0;
    }
  }

.get2020 {
  @include breakpoint_below_content() {
    display: none;
  }

  table {
    width:100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  td,th {
    border: 1px solid $white;
    padding: 0.45rem;
    text-align: right;
    vertical-align: top;
  }

  th.header-mid {
    background-color: $data;
    color: $white;
    text-align: center;
  }

  th.header-left {
    background-color: $charcoal;
    color: $white;
    text-align: center;
  }

  th.header-right {
    background-color: $sea;
    color: $white;
    text-align: center;
  }

  td.left {
    background-color: $putty;
  }

  td.mid {
    background-color: rgb(232,226,239);
  }

  td.right {
    background-color: rgb(217,240,251);
  }

  .rleft {
    text-align: left;
  }

  .centre {
    text-align: center;
  }

  .footer {
    td.left {
      background-color: $charcoal;
      color: $white;
      font-weight: bold;
    }
    td.mid {
      background-color: $data;
      color: $white;
      font-weight: bold;
    }
    td.right {
      background-color: $sea;
      color: $white;
      font-weight: bold;
    }
  }
}



}