.section6 {
  .section__intro {
    color: $data;
  }

  .section__title {
    color: $data;
  }

  .section__subtitle {
    color: $data;
  }

  em {
    color: $data;
  }

  strong {
    color: $data;
  }
}