.section_4_cover {
  @include layout__cover__image('photos/sdgs.jpg');

  .section__title {
    background: $royal-opacity;
    max-width: 360px;
  }

  .section__cover__detail {
    background: $royal-opacity;
  }
}