.section4 {
  .section__intro {
    color: $sdgs;
  }

  .section__title {
    color: $sdgs;
  }

  .section__subtitle {
    color: $sdgs;
  }

  .section__quote {
    color: $sdgs;
  }

  em {
    color: $sdgs;
  }

  strong {
    color: $sdgs;
  }

  .section__aside {
    top: 87px + 20px;
  }
}

.goal__list {
  padding-left: 0;
  margin:20px 0 0 0;
}

.goal__item {
  list-style-type: none;
  padding-left: 185px;
  position: relative;
  min-height: 180px;
  width: calc(100% - 185px);

  @include breakpoint_mobile() {
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: (150px + 10px) $padding-horizontal-mobile 0 $padding-horizontal-mobile;
    width: 100%;
  }

  &::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 150px;
    height: 150px;

    @include breakpoint_mobile() {
      left: $padding-horizontal-mobile;
      top: 0;
    }
  }
}

.goal__item__partnerships_pt {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_17.svg) 0 0 no-repeat;
  }
}

.goal__item__inequalities_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_10.svg) 0 0 no-repeat;
  }
}
.goal__item__growth_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_8.svg) 0 0 no-repeat;
  }
}

.goal__item__water_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_6.svg) 0 0 no-repeat;
  }
}

.goal__item__gender_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_5.svg) 0 0 no-repeat;
  }
}

.goal__item__education_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_4.svg) 0 0 no-repeat;
  }
}

.goal__item__health_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_3.svg) 0 0 no-repeat;
  }
}

.goal__item__hunger_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_2.svg) 0 0 no-repeat;
  }
}

.goal__item__poverty_pt  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_1.svg) 0 0 no-repeat;
  }
}
.goal__item__partnerships_es {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_17.svg) 0 0 no-repeat;
  }
}

.goal__item__inequalities_es  {
  max-width: 645px;
  
	&::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_10.svg) 0 0 no-repeat;
  }
}
.goal__item__growth_es  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_8.svg) 0 0 no-repeat;
  }
}

.goal__item__water_es  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_6.svg) 0 0 no-repeat;
  }
}

.goal__item__gender_es  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_5.svg) 0 0 no-repeat;
  }
}

.goal__item__education_es  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_4.svg) 0 0 no-repeat;
  }
}

.goal__item__health_es  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_3.svg) 0 0 no-repeat;
  }
}

.goal__item__hunger_es  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_2.svg) 0 0 no-repeat;
  }
}

.goal__item__poverty_es  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/es/sdg_1.svg) 0 0 no-repeat;
  }
}
.goal__item__partnerships_fr {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_17.svg) 0 0 no-repeat;
  }
}

.goal__item__inequalities_fr  {
	max-width: 690px;
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_10.svg) 0 0 no-repeat;
  }
}
.goal__item__growth_fr  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_8.svg) 0 0 no-repeat;
  }
}

.goal__item__water_fr  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_6.svg) 0 0 no-repeat;
  }
}

.goal__item__gender_fr  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_5.svg) 0 0 no-repeat;
  }
}

.goal__item__education_fr  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_4.svg) 0 0 no-repeat;
  }
}

.goal__item__health_fr  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_3.svg) 0 0 no-repeat;
  }
}

.goal__item__hunger_fr  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_2.svg) 0 0 no-repeat;
  }
}

.goal__item__poverty_fr  {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_1.svg) 0 0 no-repeat;
  }
}
.goal__item__partnerships {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_17.svg) 0 0 no-repeat;
  }
}

.goal__item__inequalities {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_10.svg) 0 0 no-repeat;
  }
}
.goal__item__growth {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_8.svg) 0 0 no-repeat;
  }
}

.goal__item__water {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_6.svg) 0 0 no-repeat;
  }
}

.goal__item__gender {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_5.svg) 0 0 no-repeat;
  }
}

.goal__item__education {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_4.svg) 0 0 no-repeat;
  }
}

.goal__item__health {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_3.svg) 0 0 no-repeat;
  }
}

.goal__item__hunger {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_2.svg) 0 0 no-repeat;
  }
}

.goal__item__poverty {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_1.svg) 0 0 no-repeat;
  }
}

.goal__quote {
  @include typography-base('Lt', 20px 23px);
  margin: 0;
}

.goal__cite {
  @include typography-base('Bd', 16px 23px);
  margin: 0;
  font-style: normal;
  color: $sdgs;
}

.leaving__person {
  box-sizing: border-box;
  width: 100%;
  height: 567px;
  margin: 20px 0;
  padding: 20px;

  @include breakpoint_mobile() {
    margin-left: -$padding-horizontal-mobile;
    margin-right: -$padding-horizontal-mobile;
    width: calc(100% + #{$padding-horizontal-mobile} * 2);

    padding: 0;

    .leaving__image {
      box-sizing: border-box;
      padding: 20px $padding-horizontal-mobile;
      height: 320px;
    }
  }
}
  .leaving__person1 {
  background: url(/sites/all/themes/report-2016/images/photos/azmera.jpg) center center no-repeat;

  .leaving__detail,
  .leaving__quote {
    position: relative;
    left: calc(100% - 300px - 20px);
  }

  @include breakpoint_mobile() {
    background: none;

    .leaving__image {
      background: url(/sites/all/themes/report-2016/images/photos/azmera.jpg) center center no-repeat;
      background-size: cover;
    }

    .leaving__detail,
    .leaving__quote {
      position: static;
    }
  }
}

.leaving__person2 {
  background: url(/sites/all/themes/report-2016/images/photos/chief.jpg) center center no-repeat;

  @include breakpoint_mobile() {
    background: none;

    .leaving__image {
      background: url(/sites/all/themes/report-2016/images/photos/chief.jpg) center center no-repeat;
      background-size: cover;
    }
  }
}

.leaving__person3 {
  background: url(/sites/all/themes/report-2016/images/photos/adiyo.jpg) center center no-repeat;

  @include breakpoint_mobile() {
    background: none;

    .leaving__image {
      background: url(/sites/all/themes/report-2016/images/photos/adiyo.jpg) center center no-repeat;
      background-size: cover;
    }
  }
}

.leaving__person4 {
  background: url(/sites/all/themes/report-2016/images/photos/sisters.jpg) center center no-repeat;

  .leaving__detail,
  .leaving__quote {
    position: relative;
    left: calc(100% - 300px - 20px);
  }

  @include breakpoint_mobile() {
    background: none;

    .leaving__image {
      background: url(/sites/all/themes/report-2016/images/photos/sisters.jpg) center center no-repeat;
      background-size: cover;
    }

    .leaving__detail,
    .leaving__quote {
      position: static;
    }
  }
}

.leaving__detail {
  background: $royal-opacity;
  color: $white;
  @include typography-base('Bd', 14px 17px);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
  letter-spacing: 0.2px;

  @include breakpoint_mobile() {
    width: auto;
  }
}

.leaving__quote {
  background: $white-opacity;
  color: $sdgs;
  @include typography-base('xBd', 22px 22px, 30px 30px);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;

  @include breakpoint_mobile() {
    width: 180px;
    padding: 10px;
  }

  
  
  p {
  @include typography-base('xBd', 12px 14px, 16px 16px);
  margin: 0px;
  
  &::before {
    display: block;
    content: '';
    padding-bottom: 20px - 5px;
    margin-bottom: 20px - 5px;
    width: 35px;
    border-bottom: solid 2px $sdgs;
  }
  
  }
  
}
.fr_quote {
  @include typography-base('xBd', 23px 23px);
  width:330px;
  }
  .fr_detail {
  width:330px;
  }
  
  .fr_right {
  padding-left:610px;
  }