.section4 {
  .section__intro {
    color: $sdgs;
  }

  .section__title {
    color: $sdgs;
  }

  .section__subtitle {
    color: $sdgs;
  }

  em {
    color: $sdgs;
  }

  strong {
    color: $sdgs;
  }

  .section__aside {
    top: 87px + 20px;
  }
}

.goal__list {
  margin-left: 0;
  padding-left: 0;
}

.goal__item {
  list-style-type: none;
  padding-left: 234px;
  margin-bottom: 2 * 20px;
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 234px;
    height: 120px;
  }
}

.goal__item__partnerships {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_17.svg) 0 0 no-repeat;
  }
}

.goal__item__inequalities {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_10.svg) 0 0 no-repeat;
  }
}
.goal__item__growth {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_8.svg) 0 0 no-repeat;
  }
}

.goal__item__water {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_6.svg) 0 0 no-repeat;
  }
}

.goal__item__gender {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_5.svg) 0 0 no-repeat;
  }
}

.goal__item__education {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_4.svg) 0 0 no-repeat;
  }
}

.goal__item__health {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_3.svg) 0 0 no-repeat;
  }
}

.goal__item__hunger {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_2.svg) 0 0 no-repeat;
  }
}

.goal__item__poverty {
  &::before {
    background: url(/sites/all/themes/report-2016/images/icons/sdg_1.svg) 0 0 no-repeat;
  }
}

.goal__quote {
  @include typography-base('Bd', 20px 23px);
  margin: 0;
}

.goal__cite {
  font-style: normal;
}

.leaving__person {
  box-sizing: border-box;
  width: 100%;
  height: 567px;
  margin: 20px 0;
  padding: 20px;
}

.leaving__person1 {
  background: url(/sites/all/themes/report-2016/images/photos/azmera.jpg) 0 0 no-repeat;
  padding: 20px 20px 20px 640px;
}

.leaving__person2 {
  background: url(/sites/all/themes/report-2016/images/photos/chief.jpg) 0 0 no-repeat;
}

.leaving__person3 {
  background: url(/sites/all/themes/report-2016/images/photos/adiyo.jpg) 0 0 no-repeat;
}

.leaving__person4 {
  background: url(/sites/all/themes/report-2016/images/photos/adiyo.jpg) 0 0 no-repeat;
}

.leaving__detail {
  background: $royal-opacity;
  color: $white;
  @include typography-base('Bd', 14px 17px);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
  letter-spacing: 0.2px;
}

.leaving__quote {
  background: $white-opacity;
  color: $sdgs;
  @include typography-base('xBd', 30px 30px);
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
}