@font-face {
  font-family: "Proxima N W01 Light";
  src: url("/sites/all/themes/report-2016/fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
  src: url("/sites/all/themes/report-2016/fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"), url("/sites/all/themes/report-2016/fonts/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"), url("/sites/all/themes/report-2016/fonts/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"), url("/sites/all/themes/report-2016/fonts/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"), url("/sites/all/themes/report-2016/fonts/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Light It";
  src: url("/sites/all/themes/report-2016/fonts/ee3e7ba6-7c22-4ff7-ad76-656505595a8a.eot?#iefix");
  src: url("/sites/all/themes/report-2016/fonts/ee3e7ba6-7c22-4ff7-ad76-656505595a8a.eot?#iefix") format("eot"), url("/sites/all/themes/report-2016/fonts/b47d2733-d2e6-452a-9134-77bcf65f9e7e.woff2") format("woff2"), url("/sites/all/themes/report-2016/fonts/0c4be1a2-8e16-48b4-a384-165fa5baffe3.woff") format("woff"), url("/sites/all/themes/report-2016/fonts/a7e6cc5b-7ba3-44be-9063-2cc1b3c05155.ttf") format("truetype"), url("/sites/all/themes/report-2016/fonts/a1adf259-df55-4d1c-a2ab-dd790daf22f8.svg#a1adf259-df55-4d1c-a2ab-dd790daf22f8") format("svg");
}
@font-face {
  font-family: "Proxima Nova W08 Reg";
  src: url("/sites/all/themes/report-2016/fonts/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix");
  src: url("/sites/all/themes/report-2016/fonts/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix") format("eot"), url("/sites/all/themes/report-2016/fonts/781c5453-0067-4e64-9386-7c0726d63d57.woff2") format("woff2"), url("/sites/all/themes/report-2016/fonts/510df0e5-5b9f-4a1c-b46a-bcf1739bda43.woff") format("woff"), url("/sites/all/themes/report-2016/fonts/47e08118-5050-469b-a40c-dc3b2307e87e.ttf") format("truetype"), url("/sites/all/themes/report-2016/fonts/d93bd409-7380-4bb8-9d9f-d8035b5e0387.svg#d93bd409-7380-4bb8-9d9f-d8035b5e0387") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Reg It";
  src: url("/sites/all/themes/report-2016/fonts/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix");
  src: url("/sites/all/themes/report-2016/fonts/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix") format("eot"), url("/sites/all/themes/report-2016/fonts/129d49d6-5492-4ed1-96f7-0528c6d53abc.woff2") format("woff2"), url("/sites/all/themes/report-2016/fonts/9c69c878-2255-4027-8632-ed3635cddf45.woff") format("woff"), url("/sites/all/themes/report-2016/fonts/b7eb3871-e910-4522-9982-effb425a2714.ttf") format("truetype"), url("/sites/all/themes/report-2016/fonts/a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf.svg#a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Bold";
  src: url("/sites/all/themes/report-2016/fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
  src: url("/sites/all/themes/report-2016/fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"), url("/sites/all/themes/report-2016/fonts/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"), url("/sites/all/themes/report-2016/fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"), url("/sites/all/themes/report-2016/fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"), url("/sites/all/themes/report-2016/fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Bold It";
  src: url("/sites/all/themes/report-2016/fonts/cb0c3396-af1a-4c16-95aa-8085e21044c7.eot?#iefix");
  src: url("/sites/all/themes/report-2016/fonts/cb0c3396-af1a-4c16-95aa-8085e21044c7.eot?#iefix") format("eot"), url("/sites/all/themes/report-2016/fonts/a6315c03-b55d-42b0-8ed6-79060867137d.woff2") format("woff2"), url("/sites/all/themes/report-2016/fonts/46d5674a-f287-4240-b87a-f207aeb83064.woff") format("woff"), url("/sites/all/themes/report-2016/fonts/9bd640b2-9a56-4391-b213-767ae9c30ef4.ttf") format("truetype"), url("/sites/all/themes/report-2016/fonts/1500822b-1abc-4461-81dd-b48cfcf99020.svg#1500822b-1abc-4461-81dd-b48cfcf99020") format("svg");
}
@font-face {
  font-family: "Proxima N W01 Xbold";
  src: url("/sites/all/themes/report-2016/fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix");
  src: url("/sites/all/themes/report-2016/fonts/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix") format("eot"), url("/sites/all/themes/report-2016/fonts/eb39afe0-709e-46d6-92ad-db5c3bfd24a9.woff2") format("woff2"), url("/sites/all/themes/report-2016/fonts/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff") format("woff"), url("/sites/all/themes/report-2016/fonts/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf") format("truetype"), url("/sites/all/themes/report-2016/fonts/3d6b6348-e05f-4123-b19a-3bfd02c7f361.svg#3d6b6348-e05f-4123-b19a-3bfd02c7f361") format("svg");
}
.section__cover {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}
@media screen and (max-width: 600px) {
  .section__cover {
    height: auto;
  }
}
.section__cover .section__scroll {
  position: absolute;
  bottom: 0;
  display: block;
  background: url(/sites/all/themes/report-2016/images/icons/scroll.svg) center center no-repeat;
  height: 34px;
  width: 100%;
  padding: 20px 0;
}
@media screen and (max-width: 600px) {
  .section__cover .section__scroll {
    display: none;
  }
}
.section__cover .section__scroll__text {
  top: 0;
  padding: 0.3em;
  position: absolute;
  left: -9999px;
}
.section__cover .section__scroll__text:focus {
  background: white;
  left: 50%;
  top: 0;
  z-index: 10;
}
.section__cover .layout__centre {
  margin: 0 auto;
  max-width: 960px;
  min-width: 288px;
}
.section__cover .section__title {
  display: inline-block;
  padding: 20px;
  margin: 107px 0 0 0;
  color: white;
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.5625rem;
  line-height: 1em;
}
@media screen and (min-width: 600px) {
  .section__cover .section__title {
    font-size: 3.5625rem;
    line-height: 0.92982em;
  }
}
@media screen and (max-width: 960px) {
  .section__cover .section__title {
    margin-left: 16px;
  }
}
@media screen and (max-width: 600px) {
  .section__cover .section__title {
    margin-top: 0;
    padding: 5px 5px 5px 10px;
  }
}
.section__cover .section__cover__detail {
  padding: 15px;
  width: 234px;
  color: white;
  letter-spacing: 0.2px;
  font-family: "Proxima N W01 Bold";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.16667em;
}
@media screen and (min-height: 640px) {
  .section__cover .section__cover__detail {
    position: absolute;
    bottom: 74px;
  }
}
@media screen and (min-height: 640px) and (max-width: 600px) {
  .section__cover .section__cover__detail {
    position: static;
  }
}

@media screen and (min-width: 600px) {
  .section__cover .section__cover__detail {
    font-size: 1rem;
    line-height: 1.25em;
  }
}
@media screen and (max-width: 960px) {
  .section__cover .section__cover__detail {
    margin-left: 16px;
  }
}
@media screen and (max-width: 600px) {
  .section__cover .section__cover__detail {
    box-sizing: border-box;
    margin-left: 0;
    padding: 15px 16px;
    width: 100%;
  }
}

.section__body {
  margin: 0 auto;
  max-width: 960px;
  min-width: 288px;
  font-family: "Proxima Nova W08 Reg";
  font-size: 1rem;
  line-height: 1.25em;
}
.section__body::before, .section__body::after {
  content: "";
  display: table;
}
.section__body::after {
  clear: both;
}
@media screen and (max-width: 960px) {
  .section__body {
    padding: 0 16px;
  }
}
.section__body em,
.section__body i {
  font-family: "Proxima N W01 Reg It";
  font-style: normal;
}
.section__body b,
.section__body strong {
  font-family: "Proxima N W01 Bold";
  font-weight: normal;
}

.section__intro {
  font-family: "Proxima Nova W08 Reg";
  font-size: 1.25rem;
  line-height: 1.15em;
}

.section__subtitle {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.15em;
  margin: 35px 0 0 0;
  max-width: 530px;
}

.section__title {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1.16667em;
  margin: 0;
  padding: 107px 0 20px 0;
}
@media screen and (max-width: 600px) {
  .section__title {
    padding: 90px 0 20px 0;
  }
}

.caption {
  font-family: "Proxima Nova W08 Reg";
  font-size: 0.75rem;
  line-height: 1.33333em;
}

.section__wrapper {
  position: relative;
}

.section__article {
  width: calc(100% - 250px - 20px);
  max-width: 690px;
}
@media screen and (max-width: 600px) {
  .section__article {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .section__article_wide {
    width: 100%;
  }
}

.section__aside {
  position: absolute;
  top: 5px;
  right: 0;
  width: 220px;
}
@media screen and (max-width: 600px) {
  .section__aside {
    position: static;
    width: 100%;
  }
}
.section__aside p {
  margin: 20px 0 0 0;
}
.section__aside p:first-child {
  margin-top: 0;
}
.section__aside p.caption {
  margin-top: 5px;
}

.section__quote {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.15em;
  margin: 0;
}

.section__graph__subtitle {
  margin-bottom: 20px;
}

.image__full {
  width: 100%;
  max-width: 960px;
  margin-right: -270px;
}
@media screen and (max-width: 600px) {
  .image__full {
    margin-right: 0;
  }
}

.download {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 200;
}

.download__list {
  display: none;
  position: fixed;
  bottom: 0;
  right: 120px;
  z-index: 200;
  margin: 0;
  padding: 0 2px 0 0;
}
.download__list li {
  list-style-type: none;
}

.download__item {
  display: block;
  background-color: rgba(40, 41, 40, 0.9);
  color: white;
  text-decoration: none;
  width: 100px;
  padding: 10px 10px;
  margin-top: 2px;
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1em;
}
.download__item:focus, .download__item:hover {
  color: #009ee3;
  text-decoration: none;
}

.download__title {
  position: relative;
  background-color: rgba(40, 41, 40, 0.9);
  color: white;
  width: 100px;
  padding: 10px 10px;
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1em;
  cursor: pointer;
}
.download__title:focus, .download__title:hover {
  color: #009ee3;
}
.download__title::after {
  position: absolute;
  content: '';
  background: url(/sites/all/themes/report-2016/images/icons/white-down.svg) 0 0 no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 15px;
  height: 13px;
}

.section__foreword {
  background-color: #e1e1e1;
}
@media screen and (max-width: 960px) {
  .section__foreword {
    padding: 0 16px;
  }
}

.section__foreword__wrapper {
  background-color: white;
  margin: 0 auto;
  max-width: 960px;
  min-width: 288px;
}

.section__foreword__article {
  box-sizing: border-box;
  width: calc(100% - 250px - 30px * 2);
  max-width: 650px;
  padding: 30px;
}
@media screen and (max-width: 600px) {
  .section__foreword__article {
    width: 100%;
    padding: 15px;
  }
}

.section__foreword__aside {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 250px;
}
@media screen and (max-width: 600px) {
  .section__foreword__aside {
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 0 15px 15px 15px;
  }
}
.section__foreword__aside p {
  margin: 20px 0 0 0;
}
.section__foreword__aside p:first-child {
  margin-top: 0;
}
.section__foreword__aside p.caption {
  margin-top: 5px;
}

.section__foreword {
  font-family: "Proxima Nova W08 Reg";
  font-size: 1rem;
  line-height: 1.25em;
}
.section__foreword .section__intro {
  color: #009ee3;
  font-family: "Proxima Nova W08 Reg";
  font-size: 1.25rem;
  line-height: 1.15em;
}
.section__foreword .section__title {
  color: #009ee3;
  background-color: #e1e1e1;
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1em;
  margin: 0;
  padding: 107px 0 10px 0;
}
@media screen and (min-width: 600px) {
  .section__foreword .section__title {
    font-size: 3.5625rem;
    line-height: 0.92982em;
  }
}
@media screen and (max-width: 600px) {
  .section__foreword .section__title {
    padding: 90px 16px 20px 16px;
  }
}

.foreword__aside__box {
  background: #e1e1e1;
  padding: 20px;
  font-family: "Proxima Nova W08 Reg";
  font-size: 0.875rem;
  line-height: 1.14286em;
  margin-top: 20px;
}
.foreword__aside__box p:last-child {
  margin-bottom: 0;
}

.foreword__aside__title {
  font-family: "Proxima N W01 Bold";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.25em;
  color: #009ee3;
  margin: 0;
}
.foreword__aside__title::after {
  display: block;
  content: '';
  padding-bottom: 15px;
  width: 40px;
  border-bottom: solid 2px #009ee3;
}

.language {
  position: fixed;
  bottom: 34px;
  right: 0;
  z-index: 200;
}

.language__list {
  display: none;
  position: fixed;
  bottom: 0;
  right: 120px;
  z-index: 200;
  margin: 0;
  padding: 0 2px 0 0;
}
.language__list li {
  list-style-type: none;
}

.language__item {
  display: block;
  background-color: rgba(40, 41, 40, 0.9);
  color: white;
  text-decoration: none;
  width: 100px;
  padding: 10px 10px;
  margin-top: 2px;
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1em;
}
.language__item:focus, .language__item:hover {
  color: #009ee3;
  text-decoration: none;
}

.language__title {
  background-color: rgba(40, 41, 40, 0.9);
  color: white;
  cursor: pointer;
  width: 100px;
  padding: 10px 10px;
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1em;
}
.language__title:focus, .language__title:hover {
  color: #009ee3;
}
.language__title::after {
  position: absolute;
  content: '';
  background: url(/sites/all/themes/report-2016/images/icons/white-down.svg) 0 0 no-repeat;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
  right: 5px;
  width: 15px;
  height: 13px;
}

.section_1_cover {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  background: url("/sites/all/themes/report-2016/images/photos/cover.jpg") center center no-repeat;
  background-size: cover;
}
.section_1_cover .section__scroll {
  position: absolute;
  bottom: 0;
  display: block;
  background: url(/sites/all/themes/report-2016/images/icons/scroll.svg) center center no-repeat;
  height: 34px;
  width: 100%;
  padding: 20px 0;
}
@media screen and (max-width: 600px) {
  .section_1_cover .section__scroll {
    display: none;
  }
}
.section_1_cover .section__scroll__text {
  top: 0;
  padding: 0.3em;
  position: absolute;
  left: -9999px;
}
.section_1_cover .section__scroll__text:focus {
  background: white;
  left: 50%;
  top: 0;
  z-index: 10;
}

.report__header {
  margin: 0 auto;
  max-width: 960px;
  min-width: 288px;
  z-index: 100;
  background: rgba(0, 158, 227, 0.9);
  color: white;
}
@media screen and (max-width: 960px) {
  .report__header {
    margin: 0 16px;
    width: calc(100% - 16px * 2);
  }
}

.js-report__header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;
  background: #009ee3;
}
@media screen and (max-width: 960px) {
  .js-report__header {
    margin: 0 16px;
    left: 0;
    transform: none;
    width: calc(100% - 16px * 2);
  }
}

.main-navigation {
  margin: 0;
  padding: 0;
}
.main-navigation > li {
  list-style-type: none;
}
.main-navigation::before, .main-navigation::after {
  content: "";
  display: table;
}
.main-navigation::after {
  clear: both;
}

.main-navigation__item {
  float: left;
  width: 16.66666%;
  font-family: "Proxima N W01 Bold";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1em;
  padding: 8px 0;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 959px) {
  .main-navigation__item {
    height: 24px;
  }
}
@media screen and (max-width: 600px) {
  .main-navigation__item {
    height: 16px;
  }
}

@media screen and (max-width: 600px) {
  .main-navigation__text {
    top: 0;
    padding: 0.3em;
    position: absolute;
    left: -9999px;
  }
  .main-navigation__text:focus {
    background: white;
    left: 50%;
    top: 0;
    z-index: 10;
  }
}
.main-navigation__item__home {
  background: #282928;
  color: white;
}

.main-navigation__item__summary {
  background: #008590;
  color: white;
}

.main-navigation__item__needs {
  background: #3bb6aa;
  color: white;
}

.main-navigation__item__sdgs {
  background: #006ab3;
  color: white;
}

.main-navigation__item__blueprint {
  background: #00547c;
  color: white;
}

.main-navigation__item__data {
  background: #653f92;
  color: white;
}

.report__title {
  padding: 16px 20px 18px 20px;
}

.report__title__heading {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 0.95455em;
  margin: 0;
}
@media screen and (min-width: 600px) {
  .report__title__heading {
    font-size: 3.5625rem;
    line-height: 0.92982em;
  }
}
.report__title__heading::after {
  display: block;
  content: '';
  width: 50px;
  border-bottom: solid 2px white;
  margin: 11px 0 15px 0;
}

.report__title__break {
  display: block;
}

.report__title__strapline {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 1em;
}
@media screen and (min-width: 600px) {
  .report__title__strapline {
    font-size: 1.125rem;
    line-height: 1.11111em;
  }
}

.js-report__header .report__title {
  padding: 14px 20px;
}
.js-report__header .report__title__heading {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 0.625rem;
  line-height: 1em;
}
@media screen and (min-width: 600px) {
  .js-report__header .report__title__heading {
    font-size: 1.125rem;
    line-height: 1.11111em;
  }
}
.js-report__header .report__title__heading::after {
  display: none;
}
.js-report__header .report__title__break {
  display: inline;
}
.js-report__header .report__title__strapline {
  display: none;
}

.fr_title {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 0.95455em;
}
@media screen and (min-width: 600px) {
  .fr_title {
    font-size: 3.0625rem;
    line-height: 0.97959em;
  }
}

.section_2_cover {
  background: url("/sites/all/themes/report-2016/images/photos/exec.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .section_2_cover {
    background: none;
  }
  .section_2_cover .section__title__image {
    box-sizing: border-box;
    padding-top: 90px;
    background: url("/sites/all/themes/report-2016/images/photos/exec.jpg") center center no-repeat;
    background-size: cover;
    height: 320px;
  }
}
.section_2_cover .section__title {
  background: rgba(0, 133, 144, 0.9);
}
.section_2_cover .section__cover__detail {
  background: rgba(0, 133, 144, 0.9);
}

.section2 .section__intro {
  color: #008590;
}
.section2 .section__title {
  color: #008590;
}
.section2 .section__subtitle {
  color: #008590;
  margin-bottom: 10px;
}
.section2 .section__quote {
  color: #008590;
}
.section2 em {
  color: #008590;
}
.section2 strong {
  color: #008590;
}
.section2 ul {
  list-style-position: inside;
  padding-left: 15px;
  text-indent: -15px;
}
.section2 ol {
  list-style-position: inside;
  padding-left: 15px;
  text-indent: -15px;
}
.section2 p:last-child {
  margin-bottom: 30px;
}
.section2 li {
  padding-bottom: 7px;
}

.section__subtitle__economic {
  margin-top: 15px;
  padding: 80px 0  0 90px;
  background: url(/sites/all/themes/report-2016/images/icons/dollar_icon.svg) 0 26px no-repeat;
}

.section__aside__economic {
  top: 117px;
}

.section__subtitle__knowledge {
  margin-top: 15px;
  padding: 97px 0  0 80px;
  background: url(/sites/all/themes/report-2016/images/icons/knowledge_scale_icon.svg) 0 26px no-repeat;
}

.section__aside__knowledge {
  top: 134px;
}

.section__subtitle__political {
  margin-top: 15px;
  padding: 87px 0  0 80px;
  background: url(/sites/all/themes/report-2016/images/icons/political_will_icon.svg) 0 26px no-repeat;
}

.section__aside__political {
  top: 106px;
}

.section__subtitle__partnerships {
  margin-top: 15px;
  padding: 70px 0  0 90px;
  background: url(/sites/all/themes/report-2016/images/icons/partner_icon.svg) 0 26px no-repeat;
}

.section__aside__partnerships {
  top: 91px;
}

.section__subtitle__leadership {
  margin-top: 15px;
  padding: 70px 0  0 80px;
  background: url(/sites/all/themes/report-2016/images/icons/leader_icon.svg) 0 26px no-repeat;
}

.section__aside__leadership {
  top: 91px;
}

.section__subtitle__vision {
  margin-top: 15px;
  padding: 70px 0  0 100px;
  background: url(/sites/all/themes/report-2016/images/icons/vision_icon.svg) 0 26px no-repeat;
}

.section__aside__vision {
  top: 85px;
}

.section__case_study {
  background-color: #009ee3;
  padding: 30px 0;
  font-family: "Proxima Nova W08 Reg";
  font-size: 1rem;
  line-height: 1.25em;
}
@media screen and (max-width: 960px) {
  .section__case_study {
    padding: 30px 16px;
  }
}
@media screen and (max-width: 600px) {
  .section__case_study {
    margin-top: 20px;
  }
}
.section__case_study .section__intro {
  color: #006ab3;
  font-family: "Proxima Nova W08 Reg";
  font-size: 1.25rem;
  line-height: 1.15em;
}
.section__case_study .section__title {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.875rem;
  line-height: 1.16667em;
  color: #006ab3;
  padding-top: 0;
}
.section__case_study .section__subtitle {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 1.15em;
  color: #009ee3;
}
.section__case_study .section__quote {
  color: #009ee3;
}
.section__case_study .section__title__highlight {
  display: block;
  color: #009ee3;
}

.section__case_study__wrapper {
  background: white;
  margin: 0 auto;
  max-width: 960px;
  min-width: 288px;
  position: relative;
}
.section__case_study__wrapper::before {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 190px 0 0 170px;
  border-color: #009ee3 transparent transparent #e1e1e1;
}
@media screen and (max-width: 600px) {
  .section__case_study__wrapper::before {
    display: none;
  }
}

.section__case_study__subsection {
  position: relative;
}

.section__case_study__inner_wrapper {
  padding: 30px;
}
@media screen and (max-width: 600px) {
  .section__case_study__inner_wrapper {
    padding: 15px;
  }
}

.section__case_study__article {
  box-sizing: border-box;
  width: calc(100% - 250px - 30px * 2);
  max-width: 650px;
}
@media screen and (max-width: 600px) {
  .section__case_study__article {
    width: 100%;
  }
}

.section__case_study__aside {
  position: absolute;
  top: 0;
  right: 30px;
  width: 250px;
}
@media screen and (max-width: 600px) {
  .section__case_study__aside {
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 0 15px 15px 15px;
  }
}
.section__case_study__aside p {
  margin: 20px 0 0 0;
}
.section__case_study__aside p:first-child {
  margin-top: 0;
}
.section__case_study__aside p.caption {
  margin-top: 5px;
}

.section__case_study__aside__top {
  top: 230px;
}

.case_study__image {
  float: left;
  margin: 5px 10px 10px 0;
}

.case_study__section {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1em;
  color: #006ab3;
  position: absolute;
  right: 75px;
  top: 160px;
}
@media screen and (max-width: 600px) {
  .case_study__section {
    display: none;
  }
}

.section_3_cover {
  background: url("/sites/all/themes/report-2016/images/photos/what.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .section_3_cover {
    background: none;
  }
  .section_3_cover .section__title__image {
    box-sizing: border-box;
    padding-top: 90px;
    background: url("/sites/all/themes/report-2016/images/photos/what.jpg") center center no-repeat;
    background-size: cover;
    height: 320px;
  }
}
.section_3_cover .section__title {
  background: rgba(59, 182, 170, 0.9);
}
.section_3_cover .section__cover__detail {
  background: rgba(59, 182, 170, 0.9);
}

.section3 .section__intro {
  color: #3bb6aa;
}
.section3 .section__title {
  color: #3bb6aa;
}
.section3 .section__subtitle {
  color: #3bb6aa;
}
.section3 .section__quote {
  color: #3bb6aa;
}
.section3 em {
  color: #3bb6aa;
}
.section3 strong {
  color: #3bb6aa;
}
.section3 ul {
  padding-left: 0;
}

.checklist__list {
  padding-left: 0;
  margin-left: 0;
}

.checklist__item {
  list-style-type: none;
  padding-left: 20px;
  background: url(/sites/all/themes/report-2016/images/icons/tick.svg) left center no-repeat;
}

.section_4_cover {
  background: url("/sites/all/themes/report-2016/images/photos/sdgs.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .section_4_cover {
    background: none;
  }
  .section_4_cover .section__title__image {
    box-sizing: border-box;
    padding-top: 90px;
    background: url("/sites/all/themes/report-2016/images/photos/sdgs.jpg") center center no-repeat;
    background-size: cover;
    height: 320px;
  }
}
.section_4_cover .section__title {
  background: rgba(0, 106, 179, 0.9);
  max-width: 360px;
}
.section_4_cover .section__cover__detail {
  background: rgba(0, 106, 179, 0.9);
}

.section4 .section__intro {
  color: #006ab3;
}
.section4 .section__title {
  color: #006ab3;
}
.section4 .section__subtitle {
  color: #006ab3;
}
.section4 .section__quote {
  color: #006ab3;
}
.section4 em {
  color: #006ab3;
}
.section4 strong {
  color: #006ab3;
}
.section4 .section__aside {
  top: 107px;
}

.goal__list {
  padding-left: 0;
  margin: 20px 0 0 0;
}

.goal__item {
  list-style-type: none;
  padding-left: 185px;
  position: relative;
  min-height: 180px;
  width: calc(100% - 185px);
}
@media screen and (max-width: 600px) {
  .goal__item {
    box-sizing: border-box;
    margin-bottom: 40px;
    padding: 160px 16px 0 16px;
    width: 100%;
  }
}
.goal__item::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 150px;
  height: 150px;
}
@media screen and (max-width: 600px) {
  .goal__item::before {
    left: 16px;
    top: 0;
  }
}

.goal__item__partnerships_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_17.svg) 0 0 no-repeat;
}

.goal__item__inequalities_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_10.svg) 0 0 no-repeat;
}

.goal__item__growth_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_8.svg) 0 0 no-repeat;
}

.goal__item__water_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_6.svg) 0 0 no-repeat;
}

.goal__item__gender_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_5.svg) 0 0 no-repeat;
}

.goal__item__education_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_4.svg) 0 0 no-repeat;
}

.goal__item__health_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_3.svg) 0 0 no-repeat;
}

.goal__item__hunger_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_2.svg) 0 0 no-repeat;
}

.goal__item__poverty_pt::before {
  background: url(/sites/all/themes/report-2016/images/icons/pt/sdg_1.svg) 0 0 no-repeat;
}

.goal__item__partnerships_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_17.svg) 0 0 no-repeat;
}

.goal__item__inequalities_es {
  max-width: 645px;
}
.goal__item__inequalities_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_10.svg) 0 0 no-repeat;
}

.goal__item__growth_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_8.svg) 0 0 no-repeat;
}

.goal__item__water_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_6.svg) 0 0 no-repeat;
}

.goal__item__gender_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_5.svg) 0 0 no-repeat;
}

.goal__item__education_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_4.svg) 0 0 no-repeat;
}

.goal__item__health_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_3.svg) 0 0 no-repeat;
}

.goal__item__hunger_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_2.svg) 0 0 no-repeat;
}

.goal__item__poverty_es::before {
  background: url(/sites/all/themes/report-2016/images/icons/es/sdg_1.svg) 0 0 no-repeat;
}

.goal__item__partnerships_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_17.svg) 0 0 no-repeat;
}

.goal__item__inequalities_fr {
  max-width: 690px;
}
.goal__item__inequalities_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_10.svg) 0 0 no-repeat;
}

.goal__item__growth_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_8.svg) 0 0 no-repeat;
}

.goal__item__water_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_6.svg) 0 0 no-repeat;
}

.goal__item__gender_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_5.svg) 0 0 no-repeat;
}

.goal__item__education_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_4.svg) 0 0 no-repeat;
}

.goal__item__health_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_3.svg) 0 0 no-repeat;
}

.goal__item__hunger_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_2.svg) 0 0 no-repeat;
}

.goal__item__poverty_fr::before {
  background: url(/sites/all/themes/report-2016/images/icons/fr/sdg_1.svg) 0 0 no-repeat;
}

.goal__item__partnerships::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_17.svg) 0 0 no-repeat;
}

.goal__item__inequalities::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_10.svg) 0 0 no-repeat;
}

.goal__item__growth::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_8.svg) 0 0 no-repeat;
}

.goal__item__water::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_6.svg) 0 0 no-repeat;
}

.goal__item__gender::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_5.svg) 0 0 no-repeat;
}

.goal__item__education::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_4.svg) 0 0 no-repeat;
}

.goal__item__health::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_3.svg) 0 0 no-repeat;
}

.goal__item__hunger::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_2.svg) 0 0 no-repeat;
}

.goal__item__poverty::before {
  background: url(/sites/all/themes/report-2016/images/icons/sdg_1.svg) 0 0 no-repeat;
}

.goal__quote {
  font-family: "Proxima N W01 Light";
  font-size: 1.25rem;
  line-height: 1.15em;
  margin: 0;
}

.goal__cite {
  font-family: "Proxima N W01 Bold";
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4375em;
  margin: 0;
  font-style: normal;
  color: #006ab3;
}

.leaving__person {
  box-sizing: border-box;
  width: 100%;
  height: 567px;
  margin: 20px 0;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .leaving__person {
    margin-left: -16px;
    margin-right: -16px;
    width: calc(100% + 16px * 2);
    padding: 0;
  }
  .leaving__person .leaving__image {
    box-sizing: border-box;
    padding: 20px 16px;
    height: 320px;
  }
}

.leaving__person1 {
  background: url(/sites/all/themes/report-2016/images/photos/azmera.jpg) center center no-repeat;
}
.leaving__person1 .leaving__detail,
.leaving__person1 .leaving__quote {
  position: relative;
  left: calc(100% - 300px - 20px);
}
@media screen and (max-width: 600px) {
  .leaving__person1 {
    background: none;
  }
  .leaving__person1 .leaving__image {
    background: url(/sites/all/themes/report-2016/images/photos/azmera.jpg) center center no-repeat;
    background-size: cover;
  }
  .leaving__person1 .leaving__detail,
  .leaving__person1 .leaving__quote {
    position: static;
  }
}

.leaving__person2 {
  background: url(/sites/all/themes/report-2016/images/photos/chief.jpg) center center no-repeat;
}
@media screen and (max-width: 600px) {
  .leaving__person2 {
    background: none;
  }
  .leaving__person2 .leaving__image {
    background: url(/sites/all/themes/report-2016/images/photos/chief.jpg) center center no-repeat;
    background-size: cover;
  }
}

.leaving__person3 {
  background: url(/sites/all/themes/report-2016/images/photos/adiyo.jpg) center center no-repeat;
}
@media screen and (max-width: 600px) {
  .leaving__person3 {
    background: none;
  }
  .leaving__person3 .leaving__image {
    background: url(/sites/all/themes/report-2016/images/photos/adiyo.jpg) center center no-repeat;
    background-size: cover;
  }
}

.leaving__person4 {
  background: url(/sites/all/themes/report-2016/images/photos/sisters.jpg) center center no-repeat;
}
.leaving__person4 .leaving__detail,
.leaving__person4 .leaving__quote {
  position: relative;
  left: calc(100% - 300px - 20px);
}
@media screen and (max-width: 600px) {
  .leaving__person4 {
    background: none;
  }
  .leaving__person4 .leaving__image {
    background: url(/sites/all/themes/report-2016/images/photos/sisters.jpg) center center no-repeat;
    background-size: cover;
  }
  .leaving__person4 .leaving__detail,
  .leaving__person4 .leaving__quote {
    position: static;
  }
}

.leaving__detail {
  background: rgba(0, 106, 179, 0.9);
  color: white;
  font-family: "Proxima N W01 Bold";
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 1.21429em;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
  letter-spacing: 0.2px;
}
@media screen and (max-width: 600px) {
  .leaving__detail {
    width: auto;
  }
}

.leaving__quote {
  background: rgba(255, 255, 255, 0.9);
  color: #006ab3;
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1em;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 20px;
  width: 300px;
}
@media screen and (min-width: 600px) {
  .leaving__quote {
    font-size: 1.875rem;
    line-height: 1em;
  }
}
@media screen and (max-width: 600px) {
  .leaving__quote {
    width: 180px;
    padding: 10px;
  }
}
.leaving__quote p {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.16667em;
  margin: 0px;
}
@media screen and (min-width: 600px) {
  .leaving__quote p {
    font-size: 1rem;
    line-height: 1em;
  }
}
.leaving__quote p::before {
  display: block;
  content: '';
  padding-bottom: 15px;
  margin-bottom: 15px;
  width: 35px;
  border-bottom: solid 2px #006ab3;
}

.fr_quote {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.4375rem;
  line-height: 1em;
  width: 330px;
}

.fr_detail {
  width: 330px;
}

.fr_right {
  padding-left: 610px;
}

.section_5_cover {
  background: url("/sites/all/themes/report-2016/images/photos/blueprint.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .section_5_cover {
    background: none;
  }
  .section_5_cover .section__title__image {
    box-sizing: border-box;
    padding-top: 90px;
    background: url("/sites/all/themes/report-2016/images/photos/blueprint.jpg") center center no-repeat;
    background-size: cover;
    height: 320px;
  }
}
.section_5_cover .section__title {
  background: rgba(0, 84, 124, 0.9);
}
.section_5_cover .section__cover__detail {
  background: rgba(0, 84, 124, 0.9);
}

.section5 .section__intro {
  color: #00547c;
}
.section5 .section__title {
  color: #00547c;
}
.section5 .section__subtitle {
  color: #00547c;
}
.section5 .section__quote {
  color: #00547c;
}
.section5 em {
  color: #00547c;
}
.section5 strong {
  color: #00547c;
  font-size: 22px;
}
.section5 table {
  border-collapse: collapse;
  margin: 30px 0 30px 0;
}
.section5 td {
  padding-top: 20px;
  text-align: left;
  vertical-align: top;
}
.section5 td li {
  list-style-type: none;
  padding-left: 35px;
  background: url(/sites/all/themes/report-2016/images/icons/tick_blue.svg) left 5px no-repeat;
  padding-bottom: 7px;
}
.section5 td ul {
  padding: 10px 0 20px 0;
}
.section5 th {
  color: white;
  background-color: #00547c;
  padding: 5px 10px;
  text-align: left;
  vertical-align: top;
  font-family: "Proxima N W01 Bold";
  font-weight: normal;
  font-size: 1.375rem;
  line-height: 1.09091em;
}
.section5 .headline {
  font-family: "Proxima N W01 Xbold";
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.08333em;
  padding-right: 50px;
  color: #00547c;
}
@media screen and (max-width: 600px) {
  .section5 td,
  .section5 th {
    display: block;
  }
}

.section_6_cover {
  background: url("/sites/all/themes/report-2016/images/photos/data.jpg") center center no-repeat;
  background-size: cover;
}
@media screen and (max-width: 600px) {
  .section_6_cover {
    background: none;
  }
  .section_6_cover .section__title__image {
    box-sizing: border-box;
    padding-top: 90px;
    background: url("/sites/all/themes/report-2016/images/photos/data.jpg") center center no-repeat;
    background-size: cover;
    height: 320px;
  }
}
.section_6_cover .section__title {
  background: rgba(101, 63, 146, 0.9);
}
.section_6_cover .section__cover__detail {
  background: rgba(101, 63, 146, 0.9);
}

.section6 .section__intro {
  color: #653f92;
}
.section6 .section__title {
  color: #653f92;
}
.section6 .section__subtitle {
  color: #653f92;
}
.section6 .section__quote {
  color: #653f92;
}
.section6 .references__list {
  padding-left: 20px;
}
.section6 .references__item {
  font-family: "Proxima Nova W08 Reg";
  font-size: 0.875rem;
  line-height: 1.14286em;
  margin-bottom: 10px;
}
.section6 .photo__credits {
  font-family: "Proxima Nova W08 Reg";
  font-size: 0.875rem;
  line-height: 1.14286em;
  margin-bottom: 10px;
}
.section6 .disclaimer {
  font-family: "Proxima Nova W08 Reg";
  font-size: 0.875rem;
  line-height: 1.14286em;
  margin: 20px 0 30px;
}
.section6 em {
  color: #653f92;
}
.section6 strong {
  color: #653f92;
}
.section6 table {
  border-collapse: collapse;
  margin-bottom: 10px;
}
.section6 td, .section6 th {
  vertical-align: top;
}
@media screen and (max-width: 600px) {
  .section6 td,
  .section6 th {
    display: block;
  }
  .section6 td:first-child p {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 960px) {
  .section6 .get2020 {
    display: none;
  }
}
.section6 .get2020 table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 10px;
}
.section6 .get2020 td, .section6 .get2020 th {
  border: 1px solid white;
  padding: 0.45rem;
  text-align: right;
  vertical-align: top;
}
.section6 .get2020 th.header-mid {
  background-color: #653f92;
  color: white;
  text-align: center;
}
.section6 .get2020 th.header-left {
  background-color: #282928;
  color: white;
  text-align: center;
}
.section6 .get2020 th.header-right {
  background-color: #009ee3;
  color: white;
  text-align: center;
}
.section6 .get2020 td.left {
  background-color: #e1e1e1;
}
.section6 .get2020 td.mid {
  background-color: #e8e2ef;
}
.section6 .get2020 td.right {
  background-color: #d9f0fb;
}
.section6 .get2020 .rleft {
  text-align: left;
}
.section6 .get2020 .centre {
  text-align: center;
}
.section6 .get2020 .footer td.left {
  background-color: #282928;
  color: white;
  font-weight: bold;
}
.section6 .get2020 .footer td.mid {
  background-color: #653f92;
  color: white;
  font-weight: bold;
}
.section6 .get2020 .footer td.right {
  background-color: #009ee3;
  color: white;
  font-weight: bold;
}

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

a {
  color: #009ee3;
  text-decoration: none;
}
a:focus, a:hover {
  text-decoration: underline;
}

blockquote {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

p,
ol,
ul {
  margin: 0 0 20px 0;
}
