.section__case_study {
  background-color: $sea;
  padding: 30px 0;
  @include typography-base('Rg', 16px 20px);

  @include breakpoint_below_content() {
    padding: 30px $padding-horizontal-mobile;
  }

  @include breakpoint_mobile() {
    margin-top: 20px;
  }

  .section__intro {
    color: $royal;
    @include typography-base('Rg', 20px 23px);
  }

  .section__title {
    @include typography-base('xBd', 30px 35px);
    color: $royal;
    padding-top:0;
  }

  .section__subtitle {
    @include typography-base('xBd', 20px 23px);
    color: $sea;
  }

  .section__quote {
    color: $sea;
  }
  
  .section__title__highlight {
    display: block;
    color: $sea;
  }
}

.section__case_study__wrapper {
  background: $white;
  @include layout__center();
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 190px 0 0 170px;
    border-color: $sea transparent transparent $putty;

    @include breakpoint_mobile() {
      display: none;
    }
  }
}

.section__case_study__subsection {
  position: relative;
}

.section__case_study__inner_wrapper {
  padding: 30px;

  @include breakpoint_mobile() {
    padding: 15px;
  }
}

.section__case_study__article {
  box-sizing: border-box;
  width: calc(100% - 250px - 30px * 2);
  max-width: 960px - 250px - 30px * 2;

  @include breakpoint_mobile() {
    width: 100%;
  }
}

.section__case_study__aside {
  position: absolute;
  top: 0;
  right: 30px;
  width: 250px;

  @include breakpoint_mobile() {
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 0 15px 15px 15px;
  }


  p {
    margin: 20px 0 0 0;

    &:first-child {
      margin-top: 0;
    }

    &.caption {
      margin-top: 5px;
    }
    }
    
}

.section__case_study__aside__top {
  top: 190px + 40px;
}

.case_study__image {
  float: left;
  margin: 5px 10px 10px 0;
}

.case_study__section {
  @include typography-base('xBd', 18px 18px);
  color: $royal;

  position: absolute;
  right: 75px;
  top: 160px;

  @include breakpoint_mobile() {
    display: none;
  }
}