.section__case_study {
  background-color: $sea;
  padding: 30px 0;
  @include typography-base('Rg', 16px 20px);

  .section__intro {
    color: $royal;
    @include typography-base('Rg', 20px 23px);
  }

  .section__title {
    @include typography-base('xBd', 30px 35px);
    color: $royal;
    padding-top:0;
  }

  .section__subtitle {
    @include typography-base('xBd', 20px 23px);
    color: $sea;
  }

  .section__quote {
    color: $sea;
  }
  
  .section__title__highlight {
    display: block;
    color: $sea;
  }
}

.section__case_study__wrapper {
  background: $white;
  @include layout__center();
  position: relative;

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 190px 0 0 170px;
    border-color: $sea transparent transparent $putty;
  }
}

.section__case_study__article {
  box-sizing: border-box;
  width: 960px - 250px - 30px * 2;
  padding: 30px;
}

.section__case_study__aside {
  position: absolute;
  top: 190px + 40px;
  right: 30px;
  width: 250px;
  

  p {
    margin: 20px 0 0 0;

    &:first-child {
      margin-top: 0;
    }

    &.caption {
      margin-top: 5px;
    }
    }
    
}

.leading {
    top: 1732px;
    }
    
.case_study__image {
  float: left;
  margin: 5px 10px 10px 0;
}

.case_study__section {
  @include typography-base('xBd', 18px 18px);
  color: $royal;

  position: absolute;
  right: 75px;
  top: 160px;
}