.section3 {
  .section__intro {
    color: $needs;
  }

  .section__title {
    color: $needs;
  }

  .section__subtitle {
    color: $needs;
  }

  em {
    color: $needs;
  }

  strong {
    color: $needs;
  }
}

.checklist__list {
  padding-left: 0;
  margin-left: 0;
}


.checklist__item {
  list-style-type: none;
  padding-left: 20px;
  background: url(/sites/all/themes/report-2016/images/icons/tick.svg) left center no-repeat;
}