<section class="section__case_study">
    <div class="section__case_study__wrapper">
        <div class="section__case_study__inner_wrapper">
            <div class="section__case_study__subsection">
                <article class="section__case_study__article">
                    <h2 class="section__title">Transformation in action <span class="section__title__highlight">Ethiopia in the spotlight</span></h2>
                    {% include es/03-needs/05-case-study/text.html %}
                    {% include es/03-needs/05-case-study/maps.html %}
                </article>
                <aside class="section__case_study__aside section__case_study__aside__top">
                    {% include es/03-needs/05-case-study/sidebar.html %}
                </aside>
            </div>
            <div class="section__case_study__subsection">
                <article class="section__case_study__article">
                    {% include es/03-needs/05-case-study/text2.html %}
                </article>
                <aside class="section__case_study__aside">
                    {% include es/03-needs/05-case-study/sidebar2.html %}
                </aside>
            </div>
        </div>
    </div>
</section>
