<section class="section3 section__body section__case_study">
    <h2 class="section__title">Transformation in Action <span class="section__title__highlight">Ethiopia in the Spotlight</span></h2>

    <div class="section__wrapper">
        <article class="section__article">
            {% include en/03-needs/05-case-study/text.html %}
            {% include en/03-needs/05-case-study/maps.html %}
            {% include en/03-needs/05-case-study/text2.html %}
        </article>
        <aside class="section__aside">
            {% include en/03-needs/05-case-study/sidebar.html %}
        </aside>
    </div>
</section>