@import 'palette';

$home:      $charcoal;
$summary:   $emerald;
$needs:     $aqua;
$sdgs:      $royal;
$blueprint: $navy;
$data:      $velvet;


$home-opacity:      $charcoal-opacity;
$summary-opacity:   $emerald-opacity;
$needs-opacity:     $aqua-opacity;
$sdgs-opacity:      $royal-opacity;
$blueprint-opacity: $navy-opacity;
$data-opacity:      $velvet-opacity;
