$sea: rgb(0, 158, 227);
$charcoal: rgb(40, 41, 40);
$emerald: rgb(0, 133, 144);
$aqua: rgb(59, 182, 170);
$royal: rgb(0, 106, 179);
$navy: rgb(0, 84, 124);
$velvet:rgb(101, 63, 146);
$putty: rgb(225, 225, 225);


$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$sea-opacity: rgba(0, 158, 227, .9);
$charcoal-opacity: rgba(40, 41, 40, .9);
$emerald-opacity: rgba(0, 133, 144, .9);
$aqua-opacity: rgba(59, 182, 170, .9);
$royal-opacity: rgba(0, 106, 179, .9);
$navy-opacity: rgba(0, 84, 124, .9);
$velvet-opacity:rgba(101, 63, 146, .9);
$putty-opacity: rgba(225, 225, 225, .9);
$white-opacity: rgba(255, 255, 255, .9);

$royal-light: rgb(127, 180, 217);