<section id="section-1-next" class="section__foreword">
    <div class="section__foreword__wrapper">
        <h2 class="section__title">Foreword</h2>

        <div class="section__wrapper">
            <article class="section__foreword__article">
                {% include pt/01-intro/02-foreword/text.html %}
            </article>
            <aside class="section__foreword__aside">
                {% include pt/01-intro/02-foreword/sidebar.html %}
            </aside>
        </div>
    </div>
</section>