@mixin layout__cover() {
  box-sizing: border-box;
  height: 100vh;
  position: relative;
}

@mixin layout__cover__section() {
  @include layout__cover();

  @include breakpoint_mobile() {
    height: auto;
  }
}

@mixin layout__cover__image($url) {
  $url: '/sites/all/themes/report-2016/images/#{$url}';
  background: url($url) center center no-repeat;
  background-size: cover;
}

@mixin layout__cover__image__section($url) {
  @include layout__cover__image($url);

  @include breakpoint_mobile() {
    background: none;

    .section__title__image {
      box-sizing: border-box;
      padding-top: 70px + 20px;
      @include layout__cover__image($url);
      height: 320px;
    }
  }
}

@mixin section__cover__title() {
  display: inline-block;
  padding: 20px;
  margin: $scroll-header-height 0 0 0;

  color: $white;
  @include typography-base('xBd', 25px 25px, 57px 53px);

  @include breakpoint_below_content() {
    margin-left: $padding-horizontal-mobile;
  }

  @include breakpoint_mobile() {
    margin-top: 0;
    padding: 5px 5px 5px 10px;
  }
}

@mixin section__cover__photo__detail() {
  @media screen and (min-height: 640px) {
    position: absolute;
    bottom: 34px + 2 * 20px;

    @include breakpoint_mobile() {
      position: static;;
    }
  }

  padding: 15px;
  width: 234px;

  color: $white;
  letter-spacing: 0.2px;

  @include typography-base('Bd', 12px 14px, 16px 20px);

  @include breakpoint_below_content() {
    margin-left: $padding-horizontal-mobile;
  }

  @include breakpoint_mobile() {
    box-sizing: border-box;
    margin-left: 0;
    padding: 15px $padding-horizontal-mobile;
    width: 100%;
  }
}

@mixin section__cover__scroll() {
  .section__scroll{
    position: absolute;
    bottom: 0;

    display: block;
    background: url(/sites/all/themes/report-2016/images/icons/scroll.svg) center center no-repeat;
    height: 34px;
    width: 100%;
    padding: 20px 0;

    @include breakpoint_mobile() {
      display: none;
    }
  }

  .section__scroll__text {
    @include hide_in_dom();
  }
}