$layout-full-width: 960px;
$layout-gutter: 40px;

$layout-mobile-padding-horizontal: 16px;
$layout-desktop-padding-horizontal: 0px;

$sidebar-right-width: 287px;
$sidebar-left-width: 230px;
$cover-page-padding: 43px;

$padding-vertical: 20px;
$padding-horizontal-mobile: 16px;

$scroll-header-height: (87px + $padding-vertical);
$scroll-header-height-mobile: (70px + $padding-vertical);

@mixin breakpoint_mobile() {
  @media screen and (max-width: 600px) {
    @content;
  }
}