@mixin layout__center($width: 960px) {
    margin: 0 auto;
    width: $width;
}

@mixin layout__clearfix() {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}

@mixin layout__list__reset() {
    & {
        margin: 0;
        padding: 0;
    }

    & > li {
        list-style-type: none;
    }
}

@mixin hide_in_dom() {
    left: 0;
    padding: 0.3em;
    position: absolute;
    top: -9999px;

    &:focus {
        background: $white;
        left: 50%;
        top: 0;
        z-index: 10;
    }
}