@mixin typography-section-scorecard-head() {
  @include typography-base('xBd', 50px 50px, 60px 60px);
  

  @include breakpoint(500px, false) {
    font-size: rem(90px);
  }

  @include breakpoint(820px, false) {
    font-size: rem(120px);
  }
}

@mixin typography-point-numbering() {
  @include typography-base('xBd', 80px 60px);
}

@mixin typography-year-headings() {
  @include typography-base('xBd', 78px 78px);
  text-transform: lowercase;
}

@mixin typography-scorecard-numbering() {
  @include typography-base('xBd', 50px 50px, 75px 75px);
}

@mixin typography-progress-numbering() {
  @include typography-base('xBd', 50px 50px);

  @include breakpoint-desktop() {
    font-size: rem(75px);
    line-height: em(75px, 75px);
  }
}

@mixin typography-french-report-title() {
  @include typography-base('xBd', 40px 38px, 66px 60px);

}

@mixin typography-section-title() {
  @include typography-base('xBd', 40px 38px, 62px 58px);

}

@mixin typography-section-title-smaller() {
  @include typography-base('xBd', 40px 38px, 56px 52px);

}

@mixin typography-disease-subhead() {
  @include typography-base('xBd', 20px 20px);


  @include breakpoint(580px) {
    font-size: rem(30px);
    line-height: em(30px, 31px);
  }

  @include breakpoint(800px) {
    font-size: rem(42px);
    line-height: em(42px, 40px);
  }
}

@mixin typography-french-disease-subhead() {
  @include typography-base('xBd', 20px 20px);
  text-transform: uppercase;

  @include breakpoint(580px) {
    font-size: rem(30px);
    line-height: em(30px, 31px);
  }

  @include breakpoint(720px) {
    font-size: rem(36px);
    line-height: em(36px, 35px);
  }

  @include breakpoint(840px) {
    font-size: rem(42px);
    line-height: em(42px, 40px);
  }
}

@mixin typography-case-study-head() {
  @include typography-base('xBd', 20px 20px, 40px 40px);

}

@mixin typography-summary-subhead() {
  @include typography-base('xBd', 19px 21px, 27px 27px);
 
}

@mixin typography-map-subhead() {
  @include typography-base('xBd', 19px 21px, 24px 26px);

}

@mixin typography-report-case-study() {
  @include typography-base('xBd', 12px 12px);

  @include breakpoint-desktop() {
    font-size: rem(18px);
    line-height: em(18px, 18px);
  }

  text-transform: uppercase;
}

@mixin typography-report-title-smaller() {
  @include typography-base('xBd', 19px 19px, 24px 24px);
}

@mixin typography-download() {
  @include typography-base('xBd', 12px 14px);
}

@mixin typography-control-language() {
  @include typography-base('xBd', 12px 14px);
}

@mixin typography-control-link() {
  @include typography-base('xBd', 18px 18px);
  
}

@mixin typography-progress-label() {
  @include typography-base('xBd', 11px 12px);

  @include breakpoint-desktop() {
    font-size: rem(15px);
    line-height: em(14px, 15px);
  }

  text-transform: uppercase;
}

@mixin typography-scroll() {
  @include typography-base('xBd', 12px 12px);
  text-transform: uppercase;
}

@mixin typography-section-subhead() {
  @include typography-base('Bd', 19px 21px, 24px 26px);
  text-transform: none;
}

@mixin typography-map-key-label() {
  @include typography-base('Bd', 16px 17px);
}

@mixin typography-scorecard-label() {
  @include typography-base('Bd', 11px 12px, 16px 17px);
}

@mixin typography-case-study-intro() {
  @include typography-base('BdIt', 15px 18px, 18px 21px);
}

@mixin typography-footnotes() {
  @include typography-base('LtIt', 9px 12px, 10px 13px);
}

@mixin typography-section-intro() {
  @include typography-base('Lt', 19px 21px, 20px 23px);
}

@mixin typography-disease-intro() {
  @include typography-base('Lt', 16px 18px, 18px 21px);
}

@mixin typography-section-bold() {
  @include typography-base('Bd', 15px 18px, 16px 20px);
}

@mixin typography-map-date() {
  @include typography-base('Lt', 19px 21px, 22px 22px);
}

@mixin typography-section-body() {
  @include typography-base('Lt', 15px 18px, 16px 20px);
}

@mixin typography-section-body-first() {
  @include typography-base('Lt', 19px 21px, 20px 23px);
}

@mixin typography-photo-credits() {
  @include typography-base('Lt', 10px 13px);
}
