$font-path: '/sites/all/themes/report-2016/fonts';

@font-face{
  font-family:"Proxima N W01 Light";
  src:url("#{$font-path}/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
  src:url("#{$font-path}/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),url("#{$font-path}/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),url("#{$font-path}/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),url("#{$font-path}/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),url("#{$font-path}/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
}

@font-face{
  font-family:"Proxima N W01 Light It";
  src:url("#{$font-path}/ee3e7ba6-7c22-4ff7-ad76-656505595a8a.eot?#iefix");
  src:url("#{$font-path}/ee3e7ba6-7c22-4ff7-ad76-656505595a8a.eot?#iefix") format("eot"),url("#{$font-path}/b47d2733-d2e6-452a-9134-77bcf65f9e7e.woff2") format("woff2"),url("#{$font-path}/0c4be1a2-8e16-48b4-a384-165fa5baffe3.woff") format("woff"),url("#{$font-path}/a7e6cc5b-7ba3-44be-9063-2cc1b3c05155.ttf") format("truetype"),url("#{$font-path}/a1adf259-df55-4d1c-a2ab-dd790daf22f8.svg#a1adf259-df55-4d1c-a2ab-dd790daf22f8") format("svg");
}

@font-face{
  font-family:"Proxima Nova W08 Reg";
  src:url("#{$font-path}/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix");
  src:url("#{$font-path}/0020eb30-c98c-4a76-aaa5-c39374f14534.eot?#iefix") format("eot"),url("#{$font-path}/781c5453-0067-4e64-9386-7c0726d63d57.woff2") format("woff2"),url("#{$font-path}/510df0e5-5b9f-4a1c-b46a-bcf1739bda43.woff") format("woff"),url("#{$font-path}/47e08118-5050-469b-a40c-dc3b2307e87e.ttf") format("truetype"),url("#{$font-path}/d93bd409-7380-4bb8-9d9f-d8035b5e0387.svg#d93bd409-7380-4bb8-9d9f-d8035b5e0387") format("svg");
}

@font-face{
  font-family:"Proxima N W01 Reg It";
  src:url("#{$font-path}/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix");
  src:url("#{$font-path}/bc15a635-a09b-40d1-a5c4-70310166177d.eot?#iefix") format("eot"),url("#{$font-path}/129d49d6-5492-4ed1-96f7-0528c6d53abc.woff2") format("woff2"),url("#{$font-path}/9c69c878-2255-4027-8632-ed3635cddf45.woff") format("woff"),url("#{$font-path}/b7eb3871-e910-4522-9982-effb425a2714.ttf") format("truetype"),url("#{$font-path}/a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf.svg#a0d89860-20e5-4bc0-b6c5-eae8ae0ebbbf") format("svg");
}

@font-face{
  font-family:"Proxima N W01 Bold";
  src:url("#{$font-path}/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
  src:url("#{$font-path}/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix") format("eot"),url("#{$font-path}/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),url("#{$font-path}/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),url("#{$font-path}/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),url("#{$font-path}/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f") format("svg");
}

@font-face{
  font-family:"Proxima N W01 Bold It";
  src:url("#{$font-path}/cb0c3396-af1a-4c16-95aa-8085e21044c7.eot?#iefix");
  src:url("#{$font-path}/cb0c3396-af1a-4c16-95aa-8085e21044c7.eot?#iefix") format("eot"),url("#{$font-path}/a6315c03-b55d-42b0-8ed6-79060867137d.woff2") format("woff2"),url("#{$font-path}/46d5674a-f287-4240-b87a-f207aeb83064.woff") format("woff"),url("#{$font-path}/9bd640b2-9a56-4391-b213-767ae9c30ef4.ttf") format("truetype"),url("#{$font-path}/1500822b-1abc-4461-81dd-b48cfcf99020.svg#1500822b-1abc-4461-81dd-b48cfcf99020") format("svg");
}

@font-face{
  font-family:"Proxima N W01 Xbold";
  src:url("#{$font-path}/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix");
  src:url("#{$font-path}/9fbce143-f5db-4c0b-9159-b1e666079f67.eot?#iefix") format("eot"),url("#{$font-path}/eb39afe0-709e-46d6-92ad-db5c3bfd24a9.woff2") format("woff2"),url("#{$font-path}/19dd5cf2-ac2d-48d5-901a-c432fd291ee2.woff") format("woff"),url("#{$font-path}/22cfbfa4-f607-4751-92eb-6fa194353e57.ttf") format("truetype"),url("#{$font-path}/3d6b6348-e05f-4123-b19a-3bfd02c7f361.svg#3d6b6348-e05f-4123-b19a-3bfd02c7f361") format("svg");
}