.download {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 200;
}

.download__list {
  display: none;

  position: fixed;
  bottom: 0;
  right: 100px + 10px * 2;
  z-index: 200;

  margin: 0;
  padding: 0 2px 0 0;

  li {
    list-style-type: none;
  }
}

.download__item {
  display: block;
  background-color: $charcoal-opacity;
  color: $white;
  text-decoration: none;

  width: 100px;
  padding: 10px 10px;
  margin-top: 2px;
  @include typography_base('xBd', 12px 12px);

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

.download__title {
  position: relative;
  background-color: $charcoal-opacity;
  color: $white;

  width: 100px;
  padding: 10px 10px;
  @include typography_base('xBd', 12px 12px);

  cursor: pointer;
  
  &::after {
    position: absolute;
    content: '';
    background: url(/sites/all/themes/report-2016/images/icons/white-down.svg) 0 0 no-repeat;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    width: 15px;
    height: 13px;
  }
}