.section__foreword {
  background-color: $putty;

  @include breakpoint_below_content() {
    padding: 0 $padding-horizontal-mobile;
  }
}

.section__foreword__wrapper {
  background-color: $white;
  @include layout__center();
}

.section__foreword__article {
  box-sizing: border-box;
  width: calc(100% - 250px - 30px * 2);
  max-width: 960px - 250px - 30px * 2;
  padding: 30px;

  @include breakpoint_mobile() {
    width: 100%;
  }
}

.section__foreword__aside {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 250px;

  @include breakpoint_mobile() {
    box-sizing: border-box;
    position: static;
    width: 100%;
    padding: 0 30px 30px 30px;
  }

  p {
    margin: 20px 0 0 0;

    &:first-child {
      margin-top: 0;
    }

    &.caption {
      margin-top: 5px;
    }
    }
}

.section__foreword {
  @include typography-base('Rg', 16px 20px);

  .section__intro {
    color: $sea;
    @include typography-base('Rg', 20px 23px);
  }

  .section__title {
    color: $sea;
    background-color: $putty;
    @include typography-base('xBd', 30px 30px, 57px 53px);
    margin: 0;
    padding: $scroll-header-height 0 10px 0;

    @include breakpoint_mobile() {
      padding: $scroll-header-height-mobile $padding-horizontal-mobile 20px $padding-horizontal-mobile;
    }
  }
}

.foreword__aside__box {
  background: $putty;
  padding: 20px;
  @include typography-base('Rg', 14px 16px);
  margin-top:20px;

  p:last-child {
    margin-bottom: 0;
  }
}

.foreword__aside__title {
  @include typography-base('Bd', 16px 20px);
  color: $sea;
  margin: 0;

  &::after {
    display: block;
    content: '';
    padding-bottom: 20px - 5px;
    width: 40px;
    border-bottom: solid 2px $sea;
  }
}