.section_1_cover {
  @include layout__cover();
  @include layout__cover__image('photos/cover.jpg');
  @include section__cover__scroll();
}

.report__header {
  @include layout__center();
  z-index: 100;

  @include breakpoint_mobile() {
    margin: 0 16px;
    width: calc(100% - 16px * 2);
  }

  background: $sea-opacity;
  color: $white;
}

.js-report__header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 960px;

  @include breakpoint_mobile() {
    margin: 0 16px;
    left: 0;
    transform: none;
    width: calc(100% - 16px * 2);
  }

  background: $sea;
}