.section_1_cover {
  @include layout__cover();
  @include layout__cover__image('photos/cover.jpg');
}

.report__header {
  @include layout__center();

  background: $sea-opacity;
  color: $white;
}

.js-report__header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  background: $sea;
}