{% include fr/02-summary/01-cover/_subsection.html %}
{% include fr/02-summary/02-main/_subsection.html %}
{% include fr/02-summary/03-economic/_subsection.html %}
{% include fr/02-summary/04-knowledge/_subsection.html %}
{% include fr/02-summary/05-zithromax/_subsection.html %}
{% include fr/02-summary/06-political/_subsection.html %}
{% include fr/02-summary/07-partnerships/_subsection.html %}
{% include fr/02-summary/08-leadership/_subsection.html %}
{% include fr/02-summary/09-vision/_subsection.html %}