.section__body {
  @include layout__center();
  @include layout__clearfix();
  @include typography-base('Rg', 16px 20px);

  em {
    font-family: font-mapping('RgIt');
    font-style: normal;
  }

  strong {
    font-family: font-mapping('Bd');
    font-weight: normal;
  }

  .section__intro {
    @include typography-base('Rg', 20px 23px);
  }

  .section__subtitle {
    @include typography-base('xBd', 20px 23px);
    margin: 0;
  }

  .section__title {
    @include typography-base('xBd', 30px 35px);
    margin: 0;
    padding: $scroll-header-height 0 20px 0;
  }
}

.section_body {
  @include layout__clearfix();
}

.section__article {
  float: left;
  width: 960px - 250px - 20px;
}

.section__aside {
  float: left;
  margin-left: 20px;
  width: 250px;
}
