.section__body {
  @include layout__center();
  @include layout__clearfix();
  @include typography-base('Rg', 16px 20px);

  em,
  i {
    font-family: font-mapping('RgIt');
    font-style: normal;
  }

  b,
  strong {
    font-family: font-mapping('Bd');
    font-weight: normal;
  }
}

.section__intro {
  @include typography-base('Rg', 20px 23px);
}

.section__subtitle {
  @include typography-base('xBd', 20px 23px);
  margin: (40px - 5px) 0 0 0;
  width: 530px;
}

.section__title {
  @include typography-base('xBd', 30px 35px);
  margin: 0;
  padding: $scroll-header-height 0 20px 0;
}

.caption {
  @include typography-base('Rg', 12px 16px);
}

.section__wrapper {
  position: relative;
}

.section__article {
  width: 960px - 250px - 20px;
}

.section__aside {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;

  p {
    margin: 20px 0 0 0;

    &:first-child {
      margin-top: 0;
    }

    &.caption {
      margin-top: 5px;
    }
  }
}

.section__quote {
    @include typography-base('xBd', 20px 23px);
    margin: 0;
}

.section__graph__subtitle {
  margin-bottom: 20px;
}