<section id="section-5-next" class="section5 section__body">
    <h2 class="section__title">Blueprint for action</h2>

    <div class="section__wrapper">
        <article class="section__article">
            {% include pt/05-blueprint/02-main/text.html %}
        </article>
        
         <article class="section__article_wide">
            {% include pt/05-blueprint/02-main/text2.html %}
        </article>

        <aside class="section__aside">
            {% include pt/05-blueprint/02-main/sidebar.html %}
        </aside>
    </div>
</section>