.section2 {
  .section__intro {
    color: $summary;
  }

  .section__title {
    color: $summary;
  }

  .section__subtitle {
    color: $summary;
    margin-bottom: 10px;
  }

  .section__quote {
    color: $summary;
  }

  em {
    color: $summary;
  }

  strong {
    color: $summary;
  }
  
  ul {
    list-style-position: inside;
    padding-left:15px;
    text-indent:-15px;
}
ol {
    list-style-position: inside;
    padding-left:15px;
    text-indent:-15px;
}

li { padding-bottom:7px;
}
}

.section__subtitle__economic {
  margin-top: (40px - 25px);
  padding: 80px 0  0 90px;
  background: url(/sites/all/themes/report-2016/images/icons/dollar_icon.svg) 0 26px no-repeat;
}

.section__aside__economic {
  top: 80px + (40px - 25px);
}

.section__subtitle__knowledge {
  margin-top: (40px - 25px);
  padding: 97px 0  0 80px;
  background: url(/sites/all/themes/report-2016/images/icons/knowledge_scale_icon.svg) 0 26px no-repeat;
}

.section__aside__knowledge {
  top: 97px + (40px - 25px);
}

.section__subtitle__political {
  margin-top: (40px - 25px);
  padding: 87px 0  0 80px;
  background: url(/sites/all/themes/report-2016/images/icons/political_will_icon.svg) 0 26px no-repeat;
}

.section__aside__political {
  top: 87px + (40px - 25px);
}

.section__subtitle__partnerships {
  margin-top: (40px - 25px);
  padding: 70px 0  0 90px;
  background: url(/sites/all/themes/report-2016/images/icons/partner_icon.svg) 0 26px no-repeat;
}

.section__aside__partnerships {
  top: 70px + (40px - 25px);
}

.section__subtitle__leadership {
  margin-top: (40px - 25px);
  padding: 70px 0  0 80px;
  background: url(/sites/all/themes/report-2016/images/icons/leader_icon.svg) 0 26px no-repeat;
}

.section__aside__leadership {
  top: 70px + (40px - 25px);
}

.section__subtitle__vision {
  margin-top: (40px - 25px);
  padding: 70px 0  0 100px;
  background: url(/sites/all/themes/report-2016/images/icons/vision_icon.svg) 0 26px no-repeat;
}

.section__aside__vision {
  top: 70px + (40px - 25px);
}
