.section2 {
  .section__intro {
    color: $summary;
  }

  .section__title {
    color: $summary;
  }

  .section__subtitle {
    color: $summary;
  }

  em {
    color: $summary;
  }

  strong {
    color: $summary;
  }
}